@page "/product"
@using System.Web

<PageTitle>Product Detail</PageTitle>

@if (product != null)
{
    <!-- Start Breadcrumbs -->
    <div class="fables-light-gary-background">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                    <li class="breadcrumb-item"><a href="#" class="fables-second-text-color">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- /End Breadcrumbs -->
    <!-- Start page content -->
    <div class="container">
        <div class="row my-4 my-md-5">
            <div class="col-12 col-lg-6">
                <div class="fables-single-slider store-single-slider">
                    @* <div id="sync1" class="owl-carousel owl-theme">
                @if (product.ImageUrlList != null && product.ImageUrlList.Count != 0)
                {
                foreach (var image in product.ImageUrlList)
                {
                <div class="item">
                <img src="@image" alt="" class="w-100" style="max-height:360px; object-fit:contain">
                </div>
                }
                }
                else
                {
                <div class="item">
                <img src="assets/custom/images/no-image.jpg" alt="" class="w-100" style="max-height:360px; object-fit:contain">
                </div>
                }

                </div>
                <div id="sync2" class="owl-carousel owl-theme">
                @if (product.ImageUrlList != null && product.ImageUrlList.Count != 0)
                {
                foreach (var image in product.ImageUrlList)
                {
                <div class="item">
                <img src="@image" alt="" class="w-100" style="max-height:120px; object-fit:contain">
                </div>
                }
                }

                </div> *@
                </div>
                <MudCarousel Class="mud-width-full" Style="height:360px" ShowArrows="true" ShowBullets="false" EnableSwipeGesture="true" AutoCycle="true" TData="object">
                    @if (product.ImageUrlList != null && product.ImageUrlList.Count != 0)
                    {
                        foreach (var image in product.ImageUrlList)
                        {
                            <MudCarouselItem Transition="Transition.Slide">
                                <div class="item">
                                    <img src="@image" alt="" class="w-100" style="max-height:360px; object-fit:contain">
                                </div>
                            </MudCarouselItem>
                            
                        }
                    }

                </MudCarousel>
            </div>
            <div class="col-12 col-lg-6 col-12 col-lg-6 mt-3 mt-lg-0">
                <h2 class="fables-main-text-color font-20 semi-font">@product.Name</h2>

                <div class="fables-forth-text-color fables-single-tags mt-3">
                    <span class="fables-fifth-text-color fables-icontags"></span>
                    <a href="/products?category_id=@category.ObjectId">@product.Category</a>
                </div>

                <p class="fables-forth-text-color font-15 my-3">
                    @product.ShortDescription
                </p>
                <div class="row">
                    <div class="col-6 col-sm-4 col-lg-5 col-xl-4 text-left">
                        <div class="fb-share-button" data-href="@data_url" data-layout="" data-size="">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@(HttpUtility.UrlEncode(data_url))" class="btn fables-forth-background-color fables-btn-rouned fables-second-hover-background-color white-color px-2 px-md-4 py-2 font-18">
                                <span class="fables-iconshare"></span>
                                <span class="fables-btn-value">Share on  Facebook</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <nav class="fables-single-nav">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="fables-single-item nav-link fables-forth-text-color fables-second-active fables-second-hover-color fables-forth-after px-3 px-md-5 font-15 semi-font border-0 active rounded-0 py-3" id="nav-desc-tab" data-toggle="tab" href="#nav-desc" role="tab" aria-controls="nav-desc" aria-selected="true">DESCRIPTION</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">
                        <p class="fables-single-info mt-4 font-15 fables-fifth-text-color">
                            @((MarkupString)product.Description)
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="row mb-0 mb-md-5">
    <div class="col-12">
    <h2 class="fables-forth-text-color fables-light-background-color my-3 my-md-5 py-3 text-center font-20 semi-font">Related Products</h2>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 fables-product-block">
    <div class="card rounded-0 mb-4">
    <div class="row">
    <div class="fables-product-img col-12">
    <img class="card-img-top rounded-0" src="assets/custom/images/product1.jpg" alt="dress fashion">
    <div class="fables-img-overlay">
    <ul class="nav fables-product-btns">
    <li><a href="" class="fables-product-btn"><span class="fables-iconeye"></span></a></li>
    <li><a href="" class="fables-product-btn"><span class="fables-iconcompare"></span></a></li>
    <li><button class="fables-product-btn"><span class="fables-iconheart"></span></button></li>
    </ul>
    </div>
    </div>
    <div class="card-body col-12">
    <h5 class="card-title mx-3">
    <a href="#" class="fables-main-text-color font-16 semi-font fables-second-hover-color">dress fashion</a>
    </h5>
    <p class="card-text fables-fifth-text-color font-15 mx-3">LUIS LEATHER DRIVING MOCCASINS FROM ... DOUBLE</p>
    <p class="font-15 font-weight-bold fables-second-text-color my-2 mx-3">$ 98.00</p>
    <p class="fables-product-info">
    <a href="#" class="btn fables-second-border-color fables-second-text-color fables-btn-rouned fables-hover-btn-color font-14 p-2 px-4">
    <span class="fables-iconcart"></span>
    <span class="fables-btn-value">ADD TO CART</span>
    </a>
    </p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 fables-product-block">
    <div class="card rounded-0 mb-4">
    <div class="row">
    <div class="fables-product-img col-12">
    <img class="card-img-top rounded-0" src="assets/custom/images/product2.jpg" alt="dress fashion">
    <div class="fables-img-overlay">
    <ul class="nav fables-product-btns">
    <li><a href="" class="fables-product-btn"><span class="fables-iconeye"></span></a></li>
    <li><a href="" class="fables-product-btn"><span class="fables-iconcompare"></span></a></li>
    <li><button class="fables-product-btn"><span class="fables-iconheart"></span></button></li>
    </ul>
    </div>
    </div>
    <div class="card-body col-12">
    <h5 class="card-title mx-3">
    <a href="#" class="fables-main-text-color font-16 semi-font fables-second-hover-color">dress fashion</a>
    </h5>
    <p class="card-text fables-fifth-text-color font-15 mx-3">LUIS LEATHER DRIVING MOCCASINS FROM ... DOUBLE</p>
    <p class="font-15 font-weight-bold fables-second-text-color my-2 mx-3">$ 98.00</p>
    <p class="fables-product-info">
    <a href="#" class="btn fables-second-border-color fables-second-text-color fables-btn-rouned fables-hover-btn-color font-14 p-2 px-4">
    <span class="fables-iconcart"></span>
    <span class="fables-btn-value">ADD TO CART</span>
    </a>
    </p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 fables-product-block">
    <div class="card rounded-0 mb-4">
    <div class="row">
    <div class="fables-product-img col-12">
    <img class="card-img-top rounded-0" src="assets/custom/images/product3.jpg" alt="dress fashion">
    <div class="fables-img-overlay">
    <ul class="nav fables-product-btns">
    <li><a href="" class="fables-product-btn"><span class="fables-iconeye"></span></a></li>
    <li><a href="" class="fables-product-btn"><span class="fables-iconcompare"></span></a></li>
    <li><button class="fables-product-btn"><span class="fables-iconheart"></span></button></li>
    </ul>
    </div>
    </div>
    <div class="card-body col-12">
    <h5 class="card-title mx-3">
    <a href="#" class="fables-main-text-color font-16 semi-font fables-second-hover-color">dress fashion</a>
    </h5>
    <p class="card-text fables-fifth-text-color font-15 mx-3">LUIS LEATHER DRIVING MOCCASINS FROM ... DOUBLE</p>
    <p class="font-15 font-weight-bold fables-second-text-color my-2 mx-3">$ 98.00</p>
    <p class="fables-product-info">
    <a href="#" class="btn fables-second-border-color fables-second-text-color fables-btn-rouned fables-hover-btn-color font-14 p-2 px-4">
    <span class="fables-iconcart"></span>
    <span class="fables-btn-value">ADD TO CART</span>
    </a>
    </p>
    </div>
    </div>
    </div>
    </div>
    </div> *@

    </div>
    <!-- /End page content -->
}
@code {
    private string? productId;
    private Document? product;
    private string? data_url;
    private string? fb_url;
    private Document? category;

    protected override void OnInitialized()
    {
        StringValues product_id;

        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        data_url = uri.AbsoluteUri;
        var x = HttpUtility.UrlEncode(data_url);
        fb_url = "https://www.facebook.com/sharer/sharer.php?u=" + x + "&amp;src=sdkpreparse";

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("product_id", out product_id))
        {
            productId = Convert.ToString(product_id);
            product = DB.Products.Select(x => x.ObjectId == productId).FirstOrDefault();
        }

        category = DB.Categories.Select(x => x.Name == product.Category).FirstOrDefault();
        StateHasChanged();
    }
}
