@page "/estimate"

<PageTitle>Estimate</PageTitle>

<div class="container">
    <div class="row my-4 my-md-5">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h3 class="font-35 font-weight-bold fables-second-text-color text-center mb-3">Get a Free In-Home Estimate</h3>
            <p class="fables-first-text-color text-center mb-2">Our friendly, no-pressure sales team will reach out to you using the details you provide.</p>
            <p class="fables-forth-text-color text-center">Please complete the estimate request form and we will get back to you within one business day.  Thank you so much for your interest and we look forward to helping you get organized!</p>
        </div>
    </div>

    <div class="row mb-4 mb-md-5 overflow-hidden" style="">
        <div class="col-12 col-sm-6 wow fadeInLeft">
            <form class="fables-contact-form" @onsubmit="@Submit">
                <div class="form-group">
                    <input type="text" @bind="@Name" class="form-control rounded-0 p-3" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="email" @bind="@Email" class="form-control rounded-0 p-3" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="text" @bind="@Subject" class="form-control rounded-0 p-3" placeholder="Subject" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control rounded-0 p-3" @bind="@Message" placeholder="Message" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn fables-second-background-color rounded-0 text-white btn-block p-3" style="width:-webkit-fill-available">Send</button>
            </form>
        </div>
        <div class="col-12 col-sm-6 wow fadeInRight mb-3" style="background: url('Assets/Images/Gallery-Garage-24-Gallery-Closet-55-wright_garage_granite_bay_010.jpg');background-size:cover; background-position:center">
            
        </div>
    </div>
</div>



@code {
    private string? Name;
    private string? Email;
    private string? Subject;
    private string? Message;

    protected void Submit()
    {
        var doc = new Document {
            ObjectId = Guid.NewGuid().ToString(),
            Name = Name,
            Email =Email,
            Subject = Subject,
            Message = Message
        };

        DB.Estimates.InsertOrUpdate(doc);
    }
}
